body {
  box-sizing: border-box;
  margin: 0 max(0px, calc(32vw - 400px));
  color: hsl(0 0% 20%);
  font-family: "Commissioner", "cwTeX Q Hei", sans-serif;
  line-height: 1.4;
  font-variation-settings: "FLAR" 100;
}

header {
  display: flex;
  justify-content: center;
  overflow: hidden;
  font: italic 600 calc(2 * var(--head-unit)) / 0.8 "Commissioner", sans-serif;
  text-align: center;
  font-variation-settings: "FLAR" 100;
}

h1 {
  margin: calc(0.8 * var(--head-unit));
  padding: 0 calc(0.8 * var(--head-unit));
  color: hsl(0 0% 20%);
  font: inherit;
  text-shadow: calc(-0.06 * var(--head-unit)) var(--header-text-shadow);
  transition: var(--transition-duration) font-weight,
    var(--transition-duration) text-shadow;
  user-select: none;
}

h1:hover {
  font-weight: 100;
  text-shadow: calc(-0.015 * var(--head-unit)) var(--header-text-shadow);
}

h1:active {
  font-weight: 900;
  text-shadow: calc(-0.075 * var(--head-unit)) var(--header-text-shadow);
}

.alt {
  font-feature-settings: "aalt";
}

bio {
  grid-area: bio;
  padding: 1em 2em;
  font-size: calc(1rem + 0.25vw);
  border-radius: 0 0 var(--card-radius-long) / 0 0 var(--card-radius-short);
}

h2 {
  margin-bottom: 0.5em;
  font-weight: 630;
  font-size: 1.4em;
  line-height: 1.2;
}

bio ul {
  max-width: 45ch;
}

bio li {
  margin: 0.3em 0;
}

bio p {
  max-width: 45ch;
  margin-top: 0;
}

em {
  font-weight: 500;
  font-style: normal;
}

a {
  color: inherit;
  text-decoration-line: underline;
  text-decoration-color: hsl(var(--accent-hue) 66% 45%);
  text-decoration-thickness: 2px;
  text-underline-offset: 3px;
  transition: var(--transition-duration) text-decoration-color;
}

a:hover {
  text-decoration-color: hsl(var(--accent-hue) 66% 60%);
}

.hidden-link {
  text-decoration-line: none;
}

::selection {
  background: hsl(var(--accent-hue) 88% 66% / 33%);
}

ul {
  list-style-type: "> ";
}

ul > li > ul {
  list-style-type: "» ";
}

.link-list {
  list-style-type: link-list;
}

@counter-style link-list {
  system: fixed;
  symbols: α μ λ ω β;
  prefix: "";
  suffix: " / ";
}

@media (min-width: 800px) {
  header {
    text-wrap: nowrap;
  }
}

@media (max-width: 799px) {
  header {
    text-wrap: wrap;
  }
}
