:root {
  --primary-hue: 222deg;
  --intermediate-hue: 212deg;
  --accent-hue: 194deg;
  --head-margin: calc(2.4rem + 1.6vw);
  --header-text-shadow: 3px 0 hsl(var(--accent-hue) 33% 55%);
  --transition-duration: 0.25s;
}
